*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out
coverage.*
*.coverprofile
profile.cov

dimiplan-backend

vendor/

go.work
go.work.sum

.env
.idea

.idea/
.vscode/

.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
*.DS_Store

dist/
*.log
tmp/
keys/
openapi.yaml
redoc-static.html
